[core]
	editor = nvim
  hooksPath = ~/.dotfiles/git/hooks
	excludesfile = ~/.dotfiles/git/.gitignore.global

[init]
	defaultBranch = main

[commit]
    template = ~/.dotfiles/git/commit-template
    verbose = true

[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"

[diff]
  tool = nvim_difftool

[merge]
    tool = nvim_difftool

[mergetool "nvim"]
    cmd = nvim -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
    trustExitCode = true

[pull]
	rebase = true
	ff = only

[push]
	autoSetupRemote = true

[alias]
    s = status --short --branch
    d = diff
    ds = diff --staged
    ai = add --interactive
    ap = add --patch
    ci = commit --interactive
    cp = commit --patch
    r = restore
    rs = restore --staged
    dt = difftool
    dts = difftool --staged
    lg = log --graph --decorate --oneline --all

[include]
	path = ~/.dotfiles/git/.gitconfig.local
