zsh/.zshrc.d/local.zsh

# playwright-docs
opencode/skills/playwright-docs/references/*

node_modules/

.omo/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
